//Section sell

.section__sell {
    margin: 5em auto;
    box-sizing: border-box;
    text-align: center;
    max-width: 80%;
    width: 100%;
    margin-bottom: 2em;

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        font-weight: 400;
    }

    &__text {
        font-family: "Open Sans", sans-serif;
        padding: 0 15%;
        font-weight: 500;
        margin: 2em 0;
    }

    &__button {
        &.open {
            background-color: #08A6E4;
            color: white;
            border-radius: 40px;
            padding: 1.5em 2em;
            width: 100%;
            border: none;
        }
    }
}

//section background

.background-img {
    background-image: url('images/BackgroundLaptop.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
    background-position: center;
}

//section sell

.sales {
    text-align: center;
    margin: 0 10%;

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        font-weight: 400;
    }

    &__content {
        margin-bottom: 15%;

        &__item {
            margin: 0 auto;
            position: relative;
            width: 200px;
            height: 200px;

            .views {
                position: absolute;
                top: 55%;
                left: 5%;
                font-family: "Raleway", sans-serif;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 8px;
            }

            p {
                position: absolute;
                border: 0;
                top: 70%;
                left: 0%;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 3px;
                width: 100%;
            }

            //Red Item

            &--redCircle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--redBody {
                .body {
                    position: absolute;
                    top: 50%;
                }

                .head {
                    position: absolute;
                    top: 35%;
                    left: 55%;
                }
            }

            //Blue circle

            &--blueCircle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--blueEye {
                .large {
                    position: absolute;
                    top: 36%;
                    left: 43%;
                }

                .medium {
                    position: absolute;
                    top: 38%;
                    left: 53%;
                }

                .small {
                    position: absolute;
                    top: 42%;
                    left: 57%;

                }
            }

            //greenCircle

            &--greenCircle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--greenBox {
                &--small {
                    position: absolute;
                    top: 32%;
                    left: 53%;
                }

                &--medium {
                    position: absolute;
                    top: 34%;
                    left: 51%;
                }

                &--large {
                    position: absolute;
                    top: 36%;
                    left: 50%;
                }

                &--box {
                    position: absolute;
                    top: 38%;
                    left: 50%;
                }
            }

        }
    }
}

//section info 

.info {
    background-color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin: 2em 0;

    &__section {
        margin: 10% 10%;
        background-color: white;

        //info text

        &__text {
            padding: 20px;
            padding-top: 0;

            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                margin: 10px 0;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                text-align: justify;

            }
        }

        //info image mac

        &__item {
            text-align: center;
            padding: 30px 25px;
            padding-bottom: 10px;
            position: relative;
            width: 100%;
            display: inline-block;
            max-width: 400px;
            box-sizing: border-box;

            &--mac {
                position: relative;
                z-index: 1;

                &--red {
                    position: absolute;
                    top: 7%;
                    left: 50%;
                }
            }

            //info image phone

            &--phone {
                position: relative;
                z-index: 1;

                &--blue {
                    position: absolute;
                    top: 10%;
                    left: 20%;
                }
            }

            //info image trumpet

            &.green {
                background-color: #55DFB4;
            }

            &--trumpet {
                position: relative;
                z-index: 1;
                left: -25%;
                height: 180px;
            }

        }
    }
}

//section pricing

.pricing {
    text-align: center;
    width: 100%;

    &__title {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }

    &__content {
        width: 100%;

        //princing buttons

        button {
            border-radius: 23px;
            padding: 20px 70px;
            transform: translateY(-15%);
            border: none;
            color: white;

            &.red {
                background-color: #EB476E;
                transform: translateY(-30%);
            }

            &.blue {
                background-color: #07ACE6;
            }

            &.green {
                background-color: #55DFB4;
            }
        }

        //pricing items

        &__item {
            margin: 10%;
            border-radius: 1em;
            margin-bottom: 15%;
            height: 250px;

            &.red {
                border: 1px solid #EB476E;
            }

            &.blue {
                border: 1px solid #07ACE6;
            }

            &.green {
                border: 1px solid #55DFB4;
            }

            &__half {
                width: 49%;
                display: inline-block;
                text-align: center;
                position: relative;

                &--title {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0;

                    &.red {
                        margin-bottom: 25px;
                    }

                }

                &--price {
                    margin: 0;
                    position: relative;
                    top: -50px;
                    top: 0px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 64px;

                    &.red {
                        color: #EB476E;
                        top: -30px;
                    }

                    &.blue {
                        color: #07ACE6;
                    }

                    &.green {
                        color: #55DFB4;
                    }
                }

                &--text {
                    position: relative;
                    top: -15px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                }

                ul {
                    text-align: center;
                    list-style: none;
                    padding: 0;
                    margin: 3em 0;

                    li {
                        font-family: "Open Sans", sans-serif;
                        margin: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: start;
                        width: 100%;

                        .checkbox,
                        .cross {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

//section form

.form {
    box-sizing: border-box;
    margin: 15% 10%;
    margin-bottom: 10%;

    &__item {
        width: 100%;
        margin-bottom: 3em;


        &--title {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 0;
        }

        &--text {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }

        &__info {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            p {
                display: inline-block;
                vertical-align: middle;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #A5A5A5;
            }
        }
    }

    &__data {

        &--input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #95989A;
            outline: none;
            margin: 2em 0;
        }

        &--label {
            display: block;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 14px;
            color: #08A6E4;
            text-transform: uppercase;
        }

        &__checkbox {
            width: 100%;


            input {
                width: 24px;
                height: 24px;
                margin-right: 1em;
                margin-bottom: 12em;
            }

            label {
                position: absolute;
                margin-right: 4em;
                text-align: justify;
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #707070;
            }
        }



        &--button-container {
            text-align: right;

            button {
                padding: 20px 90px;
                background-color: #08A6E4;
                color: white;
                border: none;
                border-radius: 35px;
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 17px;
                margin-top: 1em;
            }

        }
    }
}