.section {
    margin: 5em auto;
    box-sizing: border-box;
    text-align: center;
    max-width: 80%;
    width: 100%;
    margin-bottom: 2em;

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        font-weight: 400;
    }

    &__text {
        font-family: "Open Sans", sans-serif;
        padding: 0 15%;
        font-weight: 500;
        margin: 2em 0;
    }

    &__openButton {
        background-color: #08A6E4;
        color: white;
        border-radius: 40px;
        padding: 1.5em 2em;
        width: 100%;
        border: none;
    }
}

.background {
    background-image: url('images/Background 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
    background-position: center;
}

.article {
    text-align: center;
    margin: 0 10%;

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        font-weight: 400;
    }

    &__content {

        &__1 {
            margin: 0 auto;
            position: relative;
            width: 200px;
            height: 200px;

            &--circle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--body {
                .body {
                    position: absolute;
                    top: 50%;
                }

                .head {
                    position: absolute;
                    top: 35%;
                    left: 55%;
                }
            }

            .views {
                position: absolute;
                top: 55%;
                left: 20%;
                font-family: "Raleway", sans-serif;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 8px;
            }

            p {
                position: absolute;
                border: 0;
                top: 70%;
                left: 15%;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 3px;
            }
        }

        &__2 {
            margin: 0 auto;
            position: relative;
            width: 200px;
            height: 200px;

            &--circle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--eye {
                .large {
                    position: absolute;
                    top: 36%;
                    left: 43%;
                }

                .medium {
                    position: absolute;
                    top: 38%;
                    left: 53%;
                }

                .small {
                    position: absolute;
                    top: 42%;
                    left: 57%;

                }
            }

            .views {
                position: absolute;
                top: 55%;
                left: 14%;
                font-family: "Raleway", sans-serif;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 8px;
            }

            p {
                position: absolute;
                border: 0;
                top: 70%;
                left: 8%;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 3px;
            }
        }

        &__3 {
            margin: 0 auto;
            position: relative;
            width: 200px;
            height: 200px;

            &--circle {
                position: absolute;
                left: 33%;
                top: 30%;
            }

            &--box {
                &--small {
                    position: absolute;
                    top: 32%;
                    left: 53%;
                }

                &--medium {
                    position: absolute;
                    top: 34%;
                    left: 51%;
                }

                &--large {
                    position: absolute;
                    top: 36%;
                    left: 50%;
                }

                &--box {
                    position: absolute;
                    top: 38%;
                    left: 50%;
                }
            }

            .views {
                position: absolute;
                top: 55%;
                left: 25%;
                font-family: "Raleway", sans-serif;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 8px;
            }

            p {
                position: absolute;
                border: 0;
                top: 70%;
                left: 10%;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 3px;
            }
        }
    }
}

.info {
    background-color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin: 2em 0;

    &__section {
        margin: 10% 10%;
        background-color: white;
        padding: 20px;

        &__box {
            text-align: center;
            padding: 10px;
            position: relative;
            width: 100%;
            display: inline-block;
            max-width: 400px;
            box-sizing: border-box;

            &--mac {
                position: relative;
                z-index: 1;

                &--red {
                    position: absolute;
                    top: 0%;
                    left: 50%;
                }
            }

            &--phone {
                position: relative;
                z-index: 1;

                &--blue {
                    position: absolute;
                    top: 0%;
                    left: 15%;
                }
            }

            &--trumpet {
                position: relative;
                z-index: 1;
                top: 10%;
                overflow: hidden;


                &--green {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    overflow: hidden;
                    width: 100%;
                    max-width: 100%;

                }
            }

        }

        h1 {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            margin: 10px 0;
        }

        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.pricing {
    text-align: center;
    width: 100%;

    &__title {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }

    &__content {
        width: 100%;

        button {
            border-radius: 23px;
            padding: 20px 70px;
            transform: translateY(-15%);
            border: none;
            color: white;

            &.red {
                background-color: #EB476E;
                transform: translateY(-30%);
            }

            &.blue {
                background-color: #07ACE6;
            }

            &.green {
                background-color: #55DFB4;
            }
        }

        &__red {
            border: 1px solid #FB3B64;
            margin: 10%;
            border-radius: 1em;
            margin-bottom: 15%;
            height: 250px;

            &__half {
                width: 49%;
                display: inline-block;
                text-align: center;
                position: relative;

                h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                }

                p {
                    position: relative;
                    top: -50px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 64px;
                    color: #FB3B64;
                }

                ul {
                    text-align: center;
                    list-style: none;
                    padding: 0;
                    margin: 3em 0;

                    li {
                        font-family: "Open Sans", sans-serif;
                        margin: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: start;
                        width: 100%;

                        .checkbox,
                        .cross {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        &__blue {
            border: 1px solid #07ACE6;
            margin: 10%;
            border-radius: 1em;
            margin-bottom: 15%;
            height: 250px;

            &__half {
                width: 49%;
                display: inline-block;
                text-align: center;
                position: relative;

                .price {
                    margin: 0;
                    position: relative;
                    top: -50px;
                    top: 0px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 64px;
                    color: #07ACE6;
                }

                h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0;
                }

                p {
                    position: relative;
                    top: -15px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                }

                ul {
                    text-align: center;
                    list-style: none;
                    padding: 0;
                    margin: 3em 0;

                    li {
                        font-family: "Open Sans", sans-serif;
                        margin: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: start;
                        width: 100%;

                        .checkbox,
                        .cross {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        &__green {
            border: 1px solid #55DFB4;
            margin: 10%;
            border-radius: 1em;
            margin-bottom: 15%;
            height: 250px;

            &__half {
                width: 49%;
                display: inline-block;
                text-align: center;
                position: relative;

                .price {
                    margin: 0;
                    position: relative;
                    top: -50px;
                    top: 0px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 64px;
                    color: #55DFB4;
                }

                h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0;
                }

                p {
                    position: relative;
                    top: -15px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                }

                ul {
                    text-align: center;
                    list-style: none;
                    padding: 0;
                    margin: 3em 0;

                    li {
                        font-family: "Open Sans", sans-serif;
                        margin: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: start;
                        width: 100%;

                        .checkbox {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

    }
}

.form {
    box-sizing: border-box;
    margin: 15% 10%;
    margin-bottom: 10%;

    &__introduction {
        width: 100%;
        margin-bottom: 3em;


        &--title {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 49px;
        }

        &--text {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }

        &__info {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            p {
                display: inline-block;
                vertical-align: middle;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #A5A5A5;
            }
        }
    }

    &__data {

        &--input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #95989A;
            outline: none;
            margin: 2em 0;
        }

        &--label {
            display: block;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 14px;
            color: #08A6E4;
            text-transform: uppercase;
        }

        &__checkbox {
            width: 100%;


            input {
                width: 24px;
                height: 24px;
                margin-right: 1em;
                margin-bottom: 12em;
            }

            label {
                position: absolute;
                margin-right: 4em;
                text-align: justify;
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #707070;
            }
        }



        &--button-container {
            text-align: right;

            button {
                padding: 20px 90px;
                background-color: #08A6E4;
                color: white;
                border: none;
                border-radius: 35px;
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 17px;
                margin-top: 1em;
            }

        }
    }
}