//article information

.info {
    background-color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin: 2em 0;

    &__article {
        margin: 10% 10%;
        background-color: white;

        //info text

        &__text {
            padding: 20px;
            padding-top: 0;


            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                margin: 10px 0;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                text-align: justify;

            }
        }

        //info image mac

        &__item {
            text-align: center;
            padding: 30px 25px;
            padding-bottom: 10px;
            position: relative;
            width: 100%;
            display: inline-block;
            max-width: 400px;
            box-sizing: border-box;

            &--mac {
                position: relative;
                z-index: 1;

                &--red {
                    position: absolute;
                    top: 7%;
                    left: 50%;
                }
            }

            //info image phone

            &--phone {
                position: relative;
                z-index: 1;

                &--blue {
                    position: absolute;
                    top: 10%;
                    left: 20%;
                }
            }

            //info image trumpet

            &.green {
                background-color: #55DFB4;

                img {
                    position: relative;
                    left: -10%;
                    height: 180px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .info {

        &__article {
            margin: 5em 25em;
            display: flex;
            height: 350px;
            justify-content: space-around;
            border-radius: 1px;

            &.red {
                flex-direction: row-reverse;
            }

            &__text {
                margin: 5em 0;
                width: 420px;
                margin-left: 1.5em;
                border-bottom: 4px solid #EB476E;

                &.blue {
                    margin-right: 5em;
                    margin-top: 3em;
                    margin-left: 0;
                    padding-left: 0;
                    height: 220px;
                    border-bottom: 4px solid #07ACE6;

                    h1 {
                        width: 70%;
                    }
                }

                &.green {
                    border-bottom: 4px solid #55DFB4;
                    height: 220px;
                    margin-top: 3em;
                }

                h1 {
                    margin-bottom: 1em;
                }

            }

            &__item {

                margin-right: 7em;
                margin-top: 3.5em;

                &.blue {
                    margin-top: 0;
                    margin-left: 3em;
                    height: 200px;
                }

                &--mac {


                    &--red {
                        width: 100%;
                        max-width: 200px;
                        top: -5%;
                        left: 47%;
                    }
                }

                &--phone {


                    &--blue {
                        width: 100%;
                        max-width: 280px;
                        top: 3%;
                        left: 5%;
                    }
                }

                &.green {
                    margin: 0;
                    width: 100%;

                    img {
                        margin-top: 15%;
                        height: auto
                    }
                }

                img {
                    width: 100%;
                    max-width: 500px;
                    height: auto;
                }
            }

        }
    }
}