body {
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    min-width: 320px;
  }
}
.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  position: fixed;
  z-index: 10;
}
.progress-container--bar {
  height: 100%;
  background-color: #08A6E4;
  width: 0;
}

.header__nav {
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}
.header__nav__list {
  display: none;
}
.header__nav__list.active {
  display: block;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.2799999714px;
  text-transform: uppercase;
  padding-left: 12%;
  padding-bottom: 10px;
  margin: 0;
}
.header__nav__list.active li {
  margin-bottom: 1em;
}
.header__nav__images {
  margin-right: 10%;
  position: absolute;
  right: 0;
  top: 27px;
  cursor: pointer;
}
.header__nav__images--closeIcon {
  display: none;
}
.header__nav__images--navbar {
  display: block;
  margin-bottom: 5px;
}
.header__nav__images.active .header__nav__images--navbar {
  display: none;
}
.header__nav__images.active .header__nav__images--closeIcon {
  display: block;
}
.header__nav--title {
  text-align: left;
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0.5em;
  padding-left: 10%;
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .header__nav__list {
    cursor: pointer;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3.2799999714px;
    text-transform: uppercase;
  }
  .header__nav__list li {
    margin-left: 8em;
    position: relative;
  }
  .header__nav__list li:hover::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #08A6E4;
  }
  .header__nav__images {
    display: none;
  }
}
.section__sell {
  margin: 5em auto;
  box-sizing: border-box;
  text-align: center;
  max-width: 80%;
  width: 100%;
  margin-bottom: 2em;
}
.section__sell__title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
}
.section__sell__text {
  font-family: "Open Sans", sans-serif;
  padding: 0 15%;
  font-weight: 500;
  margin: 2em 0;
}
.section__sell__button.open {
  cursor: pointer;
  background-color: #08A6E4;
  color: white;
  border-radius: 40px;
  padding: 1.5em 2em;
  width: 100%;
  border: none;
}

@media only screen and (min-width: 1000px) {
  .section__sell {
    margin-bottom: 5em;
  }
  .section__sell__button.open {
    width: 500px;
  }
}
.background-img {
  background-image: url("../images/BackgroundLaptop.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 265px;
  background-position: center;
}

@media only screen and (min-width: 1000px) {
  .background-img {
    width: 100%;
    height: 500px;
  }
}
.sales {
  text-align: center;
  margin: 0 10%;
}
.sales__title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
}
.sales__content {
  margin-bottom: 15%;
}
.sales__content__item {
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 200px;
}
.sales__content__item .views {
  position: absolute;
  top: 55%;
  left: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 8px;
  color: black;
}
.sales__content__item p {
  margin-top: 15px;
  position: absolute;
  border: 0;
  top: 70%;
  left: 0%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  width: 100%;
  color: #A5A5A5;
}
.sales__content__item--redCircle {
  position: absolute;
  left: 33%;
  top: 30%;
}
.sales__content__item--redBody .body {
  position: absolute;
  top: 50%;
}
.sales__content__item--redBody .head {
  position: absolute;
  top: 35%;
  left: 55%;
}
.sales__content__item--blueCircle {
  position: absolute;
  left: 33%;
  top: 30%;
}
.sales__content__item--blueEye .large {
  position: absolute;
  top: 36%;
  left: 43%;
}
.sales__content__item--blueEye .medium {
  position: absolute;
  top: 38%;
  left: 53%;
}
.sales__content__item--blueEye .small {
  position: absolute;
  top: 42%;
  left: 57%;
}
.sales__content__item--greenCircle {
  position: absolute;
  left: 33%;
  top: 30%;
}
.sales__content__item--greenBox--small {
  position: absolute;
  top: 32%;
  left: 53%;
}
.sales__content__item--greenBox--medium {
  position: absolute;
  top: 34%;
  left: 51%;
}
.sales__content__item--greenBox--large {
  position: absolute;
  top: 36%;
  left: 50%;
}
.sales__content__item--greenBox--box {
  position: absolute;
  top: 38%;
  left: 50%;
}

@media only screen and (min-width: 1000px) {
  .sales {
    margin-top: 5em;
  }
  .sales__content {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
  }
  .sales__content__item {
    margin: 0 5em;
    margin-top: 3em;
  }
  .sales__content__item .views {
    top: 65%;
  }
  .sales__content__item p {
    top: 80%;
  }
}
.info {
  background-color: #F7F7F7;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  margin: 2em 0;
}
.info .big {
  display: none;
}
.info__article {
  margin: 10% 10%;
  background-color: white;
}
.info__article__text {
  padding: 20px;
  padding-top: 0;
}
.info__article__text h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin: 10px 0;
}
.info__article__text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
}
.info__article__item {
  text-align: center;
  padding: 30px 25px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  display: inline-block;
  max-width: 400px;
  box-sizing: border-box;
}
.info__article__item--mac {
  position: relative;
  z-index: 1;
}
.info__article__item--mac--red {
  position: absolute;
  top: 7%;
  left: 50%;
}
.info__article__item--phone {
  position: relative;
  z-index: 1;
}
.info__article__item--phone--blue {
  position: absolute;
  top: 10%;
  left: 20%;
}
.info__article__item.green {
  background-color: #55DFB4;
}
.info__article__item.green img {
  position: relative;
  left: -10%;
  height: 180px;
}

@media only screen and (min-width: 1000px) {
  .info .small {
    display: none;
  }
  .info .big {
    display: block;
  }
  .info__article {
    margin: auto;
    margin-bottom: 4em;
    margin-top: 4em;
    display: flex;
    height: 350px;
    justify-content: space-between;
    border-radius: 1px;
    max-width: 1100px;
  }
  .info__article.red {
    flex-direction: row-reverse;
  }
  .info__article__text {
    margin: 5em 0;
    width: 420px;
    margin-left: 1.5em;
    margin-right: 5em;
    border-bottom: 4px solid #EB476E;
  }
  .info__article__text.blue {
    margin-right: 5em;
    margin-top: 3em;
    margin-left: 0;
    padding-left: 0;
    height: 220px;
    border-bottom: 4px solid #07ACE6;
  }
  .info__article__text.blue h1 {
    width: 70%;
  }
  .info__article__text.green {
    border-bottom: 4px solid #55DFB4;
    height: 220px;
    margin-left: 4em;
    margin-top: 3em;
    margin-right: 11em;
  }
  .info__article__text h1 {
    margin-bottom: 1em;
  }
  .info__article__item {
    margin-right: 7em;
    margin-top: 3.5em;
  }
  .info__article__item.blue {
    margin-top: 0;
    margin-left: 5em;
    height: 200px;
  }
  .info__article__item--mac--red {
    width: 100%;
    max-width: 200px;
    top: -5%;
    left: 47%;
  }
  .info__article__item--phone--blue {
    width: 100%;
    max-width: 280px;
    top: 3%;
    left: 5%;
  }
  .info__article__item.green {
    margin: 0;
    width: 100%;
  }
  .info__article__item.green img {
    margin-top: 15%;
    height: auto;
  }
  .info__article__item img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
.pricing {
  text-align: center;
  width: 100%;
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
.pricing__coin label {
  font-family: "Raleway", sans-serif;
  margin-right: 0.3em;
  font-size: 1.2em;
}
.pricing__coin select {
  background-color: #D3D3D3;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.pricing__content {
  width: 100%;
}
.pricing__content button {
  border-radius: 23px;
  padding: 20px 70px;
  transform: translateY(-15%);
  border: none;
  color: white;
  cursor: pointer;
}
.pricing__content button.red {
  background-color: #EB476E;
  transform: translateY(-30%);
}
.pricing__content button.blue {
  background-color: #07ACE6;
}
.pricing__content button.green {
  background-color: #55DFB4;
}
.pricing__content__item {
  cursor: pointer;
  margin: 10%;
  border-radius: 1em;
  margin-bottom: 15%;
  height: 250px;
}
.pricing__content__item.red {
  border: 1px solid #EB476E;
}
.pricing__content__item.blue {
  border: 1px solid #07ACE6;
}
.pricing__content__item.green {
  border: 1px solid #55DFB4;
}
.pricing__content__item__half {
  width: 49%;
  display: inline-block;
  text-align: center;
  position: relative;
}
.pricing__content__item__half--title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.pricing__content__item__half--title.red {
  margin-bottom: 25px;
}
.pricing__content__item__half--price {
  margin: 0;
  position: relative;
  top: -50px;
  top: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}
.pricing__content__item__half--price.red {
  color: #EB476E;
  top: -30px;
}
.pricing__content__item__half--price.blue {
  color: #07ACE6;
}
.pricing__content__item__half--price.green {
  color: #55DFB4;
}
.pricing__content__item__half--text {
  position: relative;
  top: -15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.pricing__content__item__half ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 3em 0;
}
.pricing__content__item__half ul li {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: start;
  width: 100%;
}
.pricing__content__item__half ul li .checkbox,
.pricing__content__item__half ul li .cross {
  margin-right: 5px;
}

@media only screen and (min-width: 1000px) {
  .pricing__title {
    margin-top: 3em;
    margin-bottom: 1em;
  }
  .pricing__content {
    display: flex;
    justify-content: center;
  }
  .pricing__content button {
    transform: translateY(30px);
  }
  .pricing__content button.red {
    transform: translateY(35px);
  }
  .pricing__content__item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #6495ED;
  }
  .pricing__content__item {
    margin: 5em 2em;
    height: auto;
    width: 400px;
  }
  .pricing__content__item__half {
    width: 100%;
    text-align: center;
    position: static;
  }
  .pricing__content__item__half--title {
    margin-top: 3em;
  }
  .pricing__content__item__half--price.red {
    margin-top: 0.5em;
  }
  .pricing__content__item__half--text {
    margin-top: 1em;
  }
  .pricing__content__item__half ul li {
    text-align: center;
    margin: 1.5em 0;
  }
}
.form {
  box-sizing: border-box;
  margin: 15% 10%;
  margin-bottom: 10%;
}
.form__item {
  width: 100%;
  margin-bottom: 3em;
}
.form__item--title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 0;
}
.form__item--text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.form__item__info img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.form__item__info p {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
}
.form__data--input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #95989A;
  outline: none;
  margin: 2em 0;
}
.form__data--input.error {
  border-bottom: 1px solid red;
}
.form__data--label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  color: #08A6E4;
  text-transform: uppercase;
}
.form__data__checkbox {
  width: 100%;
}
.form__data__checkbox input {
  width: 24px;
  height: 24px;
  margin-right: 1em;
  margin-bottom: 12em;
}
.form__data__checkbox label {
  position: absolute;
  margin-right: 4em;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  padding: 1.5px;
}
.form__data--button-container {
  text-align: right;
}
.form__data--button-container button {
  cursor: pointer;
  padding: 20px 90px;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  margin-top: 1em;
}

.container__top {
  text-align: right;
}
.container__top--button {
  display: none;
  cursor: pointer;
  z-index: 15;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  padding-bottom: 5px;
}
.container__top--button.active {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .container__top {
    text-align: center;
    margin: 0;
  }
  .form {
    margin: 6% 25%;
    display: flex;
    margin-bottom: 3em;
  }
  .form__item {
    width: 50%;
  }
  .form__item--text {
    margin: 2em 0;
  }
  .form__item__query {
    display: flex;
  }
  .form__item__info p {
    margin-right: 1em;
  }
  .form__data {
    width: 50%;
  }
  .form__data__checkbox {
    display: flex;
  }
  .form__data__checkbox input {
    margin-bottom: 0;
    width: 48%;
  }
  .form__data__checkbox label {
    position: static;
    margin: 0;
  }
  .form__data--button-container button {
    margin-top: 3em;
  }
  .container__top--button {
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
  }
}
.footer {
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
}
.footer__item {
  width: 59%;
  display: inline-block;
  text-align: start;
  position: relative;
}
.footer__item--title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #08A6E4;
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  vertical-align: middle;
}
.footer__item--text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: #A5A5A5;
}
.footer__item.logo {
  width: 39%;
  text-align: end;
  vertical-align: middle;
  margin-bottom: 1.5em;
}
.footer__item.logo a {
  text-decoration: none;
}
.footer__item.logo img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  width: 25px;
}

@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
  }
  .footer__item {
    margin-bottom: 1em;
  }
  .footer__item--title {
    display: block;
    margin-bottom: 5px;
  }
  .footer__item--text {
    display: block;
  }
  .footer__item.logo {
    margin-bottom: 0;
  }
  .footer__item.logo img {
    margin-top: 1.8em;
  }
}/*# sourceMappingURL=styles.css.map */